html body {
  font-family: "Oswald", sans-serif !important;
}
html body .container {
  max-width: 1140px;
  margin: 0 auto;
}
html body .header-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.31) 11%, rgba(0, 0, 0, 0.65) 30%, rgba(0, 0, 0, 0.88) 51%, rgb(0, 0, 0) 83%, rgb(0, 0, 0) 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
html body .header-container .header-content-top {
  border-bottom: 1px solid #838383;
}
html body .header-container .header-content-top .header-content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
html body .header-container .header-content-top .header-content .logo img {
  height: 90%;
  width: auto;
}
html body .header-container .header-content-top .header-content .icons-header {
  margin-left: 1rem;
}
html body .header-container .header-content-top .header-content .icons-header .icons-header-item svg {
  height: 1.3rem;
  width: auto;
  margin-right: 0.938rem;
}
html body .header-container .header-content-top .header-content .icons-header .icons-header-item:last-of-type svg {
  height: 2.1rem;
  margin-top: 0.2rem;
}
html body .header-container .header-content-top .header-content .polylang-languages {
  width: auto;
  height: auto;
  max-height: 1.938rem;
  position: absolute;
  right: 1.25rem;
  top: 1.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s ease all;
  border-radius: 0.625rem;
  background-color: transparent;
  padding: 0.3rem 1.938rem 0.6rem 1rem;
}
html body .header-container .header-content-top .header-content .polylang-languages:hover {
  max-height: 6rem;
  transition: 0.5s ease all;
  background-color: rgba(0, 0, 0, 0.425);
  padding: 0.3rem 1.938rem 0.6rem 1rem;
  margin: 0px;
}
html body .header-container .header-content-top .header-content .polylang-languages li {
  display: flex;
  height: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: auto;
  margin: 0.3rem 0rem 0rem 0rem;
  order: 2;
}
html body .header-container .header-content-top .header-content .polylang-languages li a {
  flex-direction: row-reverse;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: auto;
}
html body .header-container .header-content-top .header-content .polylang-languages li a span {
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  margin-right: 0.5rem;
}
html body .header-container .header-content-top .header-content .polylang-languages li a img {
  height: 1rem !important;
  width: auto !important;
}
html body .header-container .header-content-top .header-content .polylang-languages .current-lang {
  order: 1 !important;
}
html body .header-container .header-content-top .header-content .polylang-languages::before {
  position: absolute;
  top: 0rem;
  right: 0.7rem;
  content: ">";
  color: white;
  font-weight: 400;
  transform: rotate(90deg);
  font-size: 1.5rem;
}
html body .header-container .header-menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 1.563rem;
}
html body .header-container .header-menu-content .menu-header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
html body .header-container .header-menu-content .menu-header-container .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
html body .header-container .header-menu-content .menu-header-container .menu .menu-item {
  list-style: none;
  height: 100%;
  width: auto;
  padding: 0px 13px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .header-container .header-menu-content .menu-header-container .menu .menu-item a {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease all;
}
html body .header-container .header-menu-content .menu-header-container .menu .menu-item a:hover {
  transition: 0.5s ease all;
  color: #c791c7;
}
html body .header-container .breadcrumbs-content {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  font-size: 1;
  font-family: "Inter", sans-serif !important;
}
html body .header-container .breadcrumbs-content a {
  text-decoration: none;
}
html body .header-container .breadcrumbs-content a span {
  font-size: 1;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
  margin: 0px 0.7rem 0px 0.7rem;
}
html body .header-container .breadcrumbs-content a span:hover {
  font-size: 1;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
}
html body .header-container .breadcrumbs-content .current-item {
  font-size: 1;
  color: #ee0c63;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
  margin: 0px 0.7rem 0px 0.7rem;
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 14px;
  }
  html .container {
    max-width: 1320px !important;
    margin: 0 auto;
  }
  html .icons-header {
    margin-left: 0rem !important;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 16px;
  }
  html .container {
    max-width: 1500px !important;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@font-face {
  font-family: "Parkson";
  src: url("../assets/fonts/Parkson.otf") format("opentype"), url("../assets/fonts/Parkson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.banner-principal {
  width: 100%;
  height: 82vh;
  max-height: 43.875rem;
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}
.banner-principal .banner-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7007177871) 31%, rgba(0, 0, 0, 0.4178046218) 68%, rgba(0, 0, 0, 0) 100%);
}
.banner-principal .banner-overlay .banner-content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.banner-principal .banner-overlay .banner-content .banner-box {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.3rem;
  justify-content: flex-end;
  align-items: flex-start;
}
.banner-principal .banner-overlay .banner-content .banner-box img {
  height: 6.063rem;
  width: auto;
  margin-bottom: 2rem;
}
.banner-principal .banner-overlay .banner-content .banner-box h1 {
  font-weight: 600;
  font-size: 4.2rem;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 1.063rem;
  padding: 0px;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
}
.banner-principal .banner-overlay .banner-content .banner-box p {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 2.4rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .banner-box span {
  font-weight: 200;
  font-size: 1em;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .banner-box .btn-banner {
  width: 22.938rem;
  height: 2.375rem;
  border-radius: 1rem;
  background-color: #8870FF;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.banner-principal .banner-overlay .banner-content .form-content {
  width: 27.813rem;
  height: auto;
  position: absolute;
  right: 0.625rem;
  top: 8.8rem;
  border-radius: 1.25rem;
  padding: 1rem 1.2rem 1.263rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.27);
}
.banner-principal .banner-overlay .banner-content .form-content h2 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #6B0B68;
  padding: 0px;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
}
.banner-principal .banner-overlay .banner-content .form-content form {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label span {
  font-family: "Inter", sans-serif !important;
  color: #1E0C42;
  font-weight: 600;
  text-align: left;
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label input {
  width: 100%;
  height: 2.375rem;
  border-radius: 1rem;
  border: 1px solid #e6E6E6;
  background-color: #F9F9F9;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label input::placeholder {
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label select {
  width: 100%;
  height: 2.375rem;
  border-radius: 1rem;
  border: 1px solid #e6E6E6;
  background-color: #F9F9F9;
  padding: 0rem 1rem 0rem 1rem;
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label select::placeholder {
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box:first-of-type label {
  width: 48.5%;
}
.banner-principal .banner-overlay .banner-content .form-content form button {
  width: 100%;
  height: 2.375rem;
  border-radius: 1rem;
  background-color: #B700B7;
  border: 1px solid #B700B7;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descritivo-container {
  width: 100%;
  height: 35.875rem;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.descritivo-container .descritivo-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.descritivo-container .descritivo-content .descritivo-texto-box {
  width: 55%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.descritivo-container .descritivo-content .descritivo-texto-box h3 {
  font-size: 2.3rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #6B0B68;
  text-align: left;
  margin-bottom: 0.4rem;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
.descritivo-container .descritivo-content .descritivo-texto-box h4 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: #8870FF;
  text-align: left;
  margin-bottom: 1.875rem;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
.descritivo-container .descritivo-content .descritivo-texto-box p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #000000;
  text-align: left;
  font-family: "Inter", sans-serif !important;
  padding: 0px;
}
.descritivo-container .descritivo-content .descritivo-img-box {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.descritivo-container .descritivo-content .descritivo-img-box img {
  height: 28.938rem;
  width: auto;
  margin-right: 0.938rem;
}

.formatos-titulo-container {
  width: 100%;
  height: auto;
  background-color: #8C008C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.6rem 0px 1.6rem 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo h3 {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo hr {
  width: 80%;
  border: none;
  background-color: #FFFFFF;
  margin: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-subtitulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-subtitulo p {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-align: left;
  font-family: "Inter", sans-serif !important;
  padding: 0px;
}

/*# sourceMappingURL=estilos.css.map */
