html body {
  font-family: "Oswald", sans-serif !important;
}
html body .container {
  max-width: 1140px;
  margin: 0 auto;
}
html body .header-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.31) 11%, rgba(0, 0, 0, 0.65) 30%, rgba(0, 0, 0, 0.88) 51%, rgb(0, 0, 0) 83%, rgb(0, 0, 0) 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
html body .header-container .header-content-top {
  border-bottom: 1px solid #838383;
}
html body .header-container .header-content-top .header-content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
html body .header-container .header-content-top .header-content .logo img {
  height: 90%;
  width: auto;
}
html body .header-container .header-content-top .header-content .icons-header {
  margin-left: 1rem;
}
html body .header-container .header-content-top .header-content .icons-header .icons-header-item svg {
  height: 1.3rem;
  width: auto;
  margin-right: 0.938rem;
}
html body .header-container .header-content-top .header-content .icons-header .icons-header-item:last-of-type svg {
  height: 2.1rem;
  margin-top: 0.2rem;
}
html body .header-container .header-content-top .header-content .polylang-languages {
  width: auto;
  height: auto;
  max-height: 1.938rem;
  position: absolute;
  right: 1.25rem;
  top: 1.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s ease all;
  border-radius: 0.625rem;
  background-color: transparent;
  padding: 0.3rem 1.938rem 0.6rem 1rem;
}
html body .header-container .header-content-top .header-content .polylang-languages:hover {
  max-height: 6rem;
  transition: 0.5s ease all;
  background-color: rgba(0, 0, 0, 0.425);
  padding: 0.3rem 1.938rem 0.6rem 1rem;
  margin: 0px;
}
html body .header-container .header-content-top .header-content .polylang-languages li {
  display: flex;
  height: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: auto;
  margin: 0.3rem 0rem 0rem 0rem;
  order: 2;
}
html body .header-container .header-content-top .header-content .polylang-languages li a {
  flex-direction: row-reverse;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: auto;
}
html body .header-container .header-content-top .header-content .polylang-languages li a span {
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  margin-right: 0.5rem;
}
html body .header-container .header-content-top .header-content .polylang-languages li a img {
  height: 1rem !important;
  width: auto !important;
}
html body .header-container .header-content-top .header-content .polylang-languages .current-lang {
  order: 1 !important;
}
html body .header-container .header-content-top .header-content .polylang-languages::before {
  position: absolute;
  top: 0rem;
  right: 0.7rem;
  content: ">";
  color: white;
  font-weight: 400;
  transform: rotate(90deg);
  font-size: 1.5rem;
}
html body .header-container .header-menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 1.563rem;
}
html body .header-container .header-menu-content .menu-header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
html body .header-container .header-menu-content .menu-header-container .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
html body .header-container .header-menu-content .menu-header-container .menu .menu-item {
  list-style: none;
  height: 100%;
  width: auto;
  padding: 0px 13px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .header-container .header-menu-content .menu-header-container .menu .menu-item a {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease all;
}
html body .header-container .header-menu-content .menu-header-container .menu .menu-item a:hover {
  transition: 0.5s ease all;
  color: #c791c7;
}
html body .header-container .breadcrumbs-content {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  font-size: 1;
  font-family: "Inter", sans-serif !important;
  transition: 1s ease all;
  opacity: 1;
  visibility: visible;
}
html body .header-container .breadcrumbs-content.breadcrumb-visible {
  transition: 1s ease all;
  opacity: 0;
  visibility: hidden;
}
html body .header-container .breadcrumbs-content a {
  text-decoration: none;
}
html body .header-container .breadcrumbs-content a span {
  font-size: 1;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
  margin: 0px 0.7rem 0px 0.7rem;
}
html body .header-container .breadcrumbs-content a span:hover {
  font-size: 1;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
}
html body .header-container .breadcrumbs-content .current-item {
  font-size: 1;
  color: #ee0c63;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
  margin: 0px 0.7rem 0px 0.7rem;
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 14px;
  }
  html .container {
    max-width: 1320px !important;
    margin: 0 auto;
  }
  html .icons-header {
    margin-left: 0rem !important;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 16px;
  }
  html .container {
    max-width: 1510px !important;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@font-face {
  font-family: "Parkson";
  src: url("../assets/fonts/Parkson.otf") format("opentype"), url("../assets/fonts/Parkson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.banner-principal {
  width: 100%;
  height: 82vh;
  max-height: 43.875rem;
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}
.banner-principal .banner-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7007177871) 31%, rgba(0, 0, 0, 0.4178046218) 68%, rgba(0, 0, 0, 0) 100%);
}
.banner-principal .banner-overlay .banner-content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.banner-principal .banner-overlay .banner-content .banner-box {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.3rem;
  justify-content: flex-end;
  align-items: flex-start;
}
.banner-principal .banner-overlay .banner-content .banner-box img {
  height: 6.063rem;
  width: auto;
  margin-bottom: 2rem;
}
.banner-principal .banner-overlay .banner-content .banner-box h1 {
  font-weight: 600;
  font-size: 4.2rem;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 1.063rem;
  padding: 0px;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
}
.banner-principal .banner-overlay .banner-content .banner-box p {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 2.4rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .banner-box span {
  font-weight: 200;
  font-size: 1em;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .banner-box .btn-banner {
  width: 22.938rem;
  height: 2.375rem;
  border-radius: 1rem;
  background-color: #8870FF;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  filter: brightness(1);
  transition: 0.5s ease all;
}
.banner-principal .banner-overlay .banner-content .banner-box .btn-banner:hover {
  filter: brightness(1.3);
  transition: 0.5s ease all;
}
.banner-principal .banner-overlay .banner-content .form-content {
  width: 27.813rem;
  height: auto;
  position: absolute;
  right: 0.625rem;
  top: 8.8rem;
  border-radius: 1.25rem;
  padding: 1.2rem 1.2rem 1.463rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.27);
}
.banner-principal .banner-overlay .banner-content .form-content h2 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #6B0B68;
  padding: 0px;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
}
.banner-principal .banner-overlay .banner-content .form-content form {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label span {
  font-family: "Inter", sans-serif !important;
  color: #1E0C42;
  font-weight: 600;
  text-align: left;
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label input {
  width: 100%;
  height: 2.375rem;
  border-radius: 1rem;
  border: 1px solid #e6E6E6;
  background-color: #F9F9F9;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label input::placeholder {
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label select {
  width: 100%;
  height: 2.375rem;
  border-radius: 1rem;
  border: 1px solid #e6E6E6;
  background-color: #F9F9F9;
  padding: 0rem 1rem 0rem 1rem;
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box label select::placeholder {
  color: #737373;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
}
.banner-principal .banner-overlay .banner-content .form-content form .form-box:first-of-type label {
  width: 48.5%;
}
.banner-principal .banner-overlay .banner-content .form-content form button {
  width: 100%;
  height: 2.375rem;
  border-radius: 1rem;
  background-color: #B700B7;
  border: 1px solid #B700B7;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1);
  transition: 0.5s ease all;
}
.banner-principal .banner-overlay .banner-content .form-content form button:hover {
  filter: brightness(1.4);
  transition: 0.5s ease all;
}

.descritivo-container {
  width: 100%;
  height: 35.875rem;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.descritivo-container .descritivo-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.descritivo-container .descritivo-content .descritivo-texto-box {
  width: 55%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.descritivo-container .descritivo-content .descritivo-texto-box h3 {
  font-size: 2.3rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #6B0B68;
  text-align: left;
  margin-bottom: 0.4rem;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
.descritivo-container .descritivo-content .descritivo-texto-box h4 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: #8870FF;
  text-align: left;
  margin-bottom: 1.875rem;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
.descritivo-container .descritivo-content .descritivo-texto-box p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #000000;
  text-align: left;
  font-family: "Inter", sans-serif !important;
  padding: 0px;
}
.descritivo-container .descritivo-content .descritivo-img-box {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.descritivo-container .descritivo-content .descritivo-img-box img {
  height: 28.938rem;
  width: auto;
  margin-right: 0.938rem;
}

.formatos-titulo-container {
  width: 100%;
  height: auto;
  background-color: #8C008C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.6rem 0px 1.6rem 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo h3 {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  font-family: "Parkson", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo hr {
  width: 80%;
  border: none;
  background-color: #FFFFFF;
  margin: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-subtitulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-subtitulo p {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-align: left;
  font-family: "Inter", sans-serif !important;
  padding: 0px;
}

.formatos-abas-container {
  width: 100%;
  height: auto;
  background-color: #8C008C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0px 2rem 0px;
}
.formatos-abas-container .formatos-aba-content {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif !important;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos {
  list-style: none;
  height: auto;
  width: auto;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease all;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos span {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #B7B7B7;
  transition: 0.5s ease all;
  text-transform: uppercase;
  padding: 0.838rem 1.125rem;
  position: relative;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos span::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 100%;
  max-width: 0px;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.5s ease all;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos.aba-ativa {
  position: relative;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos.aba-ativa span {
  font-weight: 400;
  color: #DDFFAB;
  transition: 0.5s ease all;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos.aba-ativa span::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 100%;
  max-width: 200px;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.8s ease all;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list {
  width: 13.438rem;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list span {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #DDFFAB;
  padding: 0.838rem 1.125rem;
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 1rem;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list span img {
  height: 0.575rem;
  width: auto;
  margin-left: 0.838rem;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list .aba-formatos-list-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 0px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F4FFE4;
  border-radius: 0px 0px 1rem 1rem;
  position: absolute;
  top: 77%;
  left: 0px;
  transition: 0.5s ease all;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list .aba-formatos-list-box .aba-formatos-list-btn {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list .aba-formatos-list-box .aba-formatos-list-btn span {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F4FFE4;
  padding: 0.838rem 1.125rem;
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
.formatos-abas-container .formatos-aba-content .abas-formatos-box .aba-formatos-list:hover .aba-formatos-list-box {
  max-height: 25rem;
  transition: 0.5s ease all;
}

.formatos-container {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(30, 12, 66);
  background: linear-gradient(90deg, rgb(30, 12, 66) 50%, rgb(237, 237, 237) 50%);
}
.formatos-container .formatos-content {
  display: none;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
}
.formatos-container .formatos-content.abrir {
  display: flex !important;
}
.formatos-container .formatos-content .formato-box-1 {
  width: 50%;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #1e0c42;
  box-sizing: border-box;
  padding: 3.5rem 4.4rem 2rem 0rem;
}
.formatos-container .formatos-content .formato-box-1 p {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  font-family: "Inter", sans-serif !important;
}
.formatos-container .formatos-content .formato-box-1 p b {
  font-weight: 700;
}
.formatos-container .formatos-content .formato-box-1 hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #FFFFFF;
  margin: 0.625rem 0px 1.6rem 0px;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .span-formato-slide {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  font-family: "Inter", sans-serif !important;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box #arrow-left {
  height: 1rem;
  width: auto;
  cursor: pointer;
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box #arrow-right {
  height: 1rem;
  width: auto;
  cursor: pointer;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box .formato-slide {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box .formato-slide .item {
  text-decoration: none;
  cursor: pointer;
  padding: 0.3rem 0.938rem;
  border-right: 1px solid #3f2181;
  color: #DDFFAB;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box .formato-slide .item span {
  border-bottom: 1px solid transparent;
  transition: 0.5s ease all;
  padding: 0.6rem 0px;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box .formato-slide .item span:last-of-type {
  border-right: none;
}
.formatos-container .formatos-content .formato-box-1 .formato-slide-content .formato-slide-box .formato-slide .item:hover span {
  border-bottom: 1px solid #DDFFAB;
  transition: 0.5s ease all;
}
.formatos-container .formatos-content .formato-box-2 {
  width: 50%;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  box-sizing: border-box;
  padding: 1.3rem 0px;
}
.formatos-container .formatos-content .formato-box-2 img {
  height: 12.5rem;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.cases-titulo-container {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0px 1.2rem 0px;
}
.cases-titulo-container .cases-titulo-content {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cases-titulo-container .cases-titulo-content h3 {
  color: #6B0B68;
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  font-family: "Parkson", sans-serif;
  padding: 0px;
}
.cases-titulo-container .cases-titulo-content hr {
  width: 90%;
  border: none;
  background-color: #8870FF;
  margin: 0px;
  height: 2px;
}

.cases-container {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.cases-container .cases-content {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  max-width: 116rem;
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  grid-template-columns: repeat(4, 24%);
  gap: 1.25rem;
  grid-auto-rows: auto;
}
.cases-container .cases-content .cases-card {
  width: 100%;
  height: 26.8rem;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.cases-container .cases-content .cases-card .cases-card-banner {
  width: 110%;
  height: auto;
  min-height: 110%;
  filter: grayscale(1);
  transform: scale(1);
  transition: 0.5s ease all;
}
.cases-container .cases-content .cases-card .cases-card-overlay {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6082808123) 0%, rgb(0, 0, 0) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cases-container .cases-content .cases-card .cases-card-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 65%;
  max-height: 50%;
  width: auto;
  height: auto;
  z-index: 999;
}
.cases-container .cases-content .cases-card:hover .cases-card-banner {
  width: 110%;
  height: auto;
  min-height: 110%;
  filter: grayscale(1);
  transform: scale(1.2);
  transition: 0.5s ease all;
}

.blog-titulo-container {
  width: 100%;
  height: auto;
  padding: 6rem 0px 3rem 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.blog-titulo-container .blog-titulo-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blog-titulo-container .blog-titulo-content h3 {
  color: #B700B7;
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  font-family: "Parkson", sans-serif;
  padding: 0px;
  width: auto;
}
.blog-titulo-container .blog-titulo-content .blog-subtitulo {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.838rem 0px;
  border-top: 1px solid #B700B7;
  margin-left: 4rem;
}
.blog-titulo-container .blog-titulo-content .blog-subtitulo span {
  color: #000000;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: left;
  font-family: "Inter", sans-serif !important;
  padding: 0px;
  width: auto;
}

.blog-container {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding-bottom: 5rem;
}
.blog-container .blog-content {
  display: block;
}
.blog-container .blog-content .blog-card {
  width: 44.063rem;
  height: 12rem;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
}
.blog-container .blog-content .blog-card .blog-card-thumb {
  height: 100%;
  width: 12.125rem;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.725rem;
}
.blog-container .blog-content .blog-card .blog-card-thumb img {
  width: 110%;
  height: auto;
  min-height: 110%;
}
.blog-container .blog-content .blog-card .blog-card-box {
  width: 32rem;
  height: 100%;
  margin: 0px;
  padding: 1.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.blog-container .blog-content .blog-card .blog-card-box h4 {
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 700;
  color: #6B0B68;
  text-align: left;
  text-transform: uppercase;
  font-family: "Parkson", sans-serif !important;
}
.blog-container .blog-content .blog-card .blog-card-box p {
  display: none;
}
.blog-container .blog-content .blog-card .blog-card-box .blog-card-leia {
  width: auto;
  height: auto;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: #B700B7;
  text-transform: uppercase;
  font-family: "Inter", sans-serif !important;
  text-decoration: none;
}
.blog-container .blog-content .blog-card .blog-card-box .blog-card-leia img {
  width: 3.25rem;
  height: auto;
  margin: 0px;
  margin-left: 0.5rem;
  transform: translateX(0);
  transition: 0.5s ease all;
}
.blog-container .blog-content .blog-card .blog-card-box .blog-card-saiba {
  display: none;
}
.blog-container .blog-content .blog-card:hover .blog-card-leia img {
  transform: translateX(8px);
  transition: 0.5s ease all;
}
.blog-container .blog-content .blog-card:first-of-type {
  width: 35.938rem;
  height: 39.5rem;
  padding: 1.75rem;
  border-radius: 0.725rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  float: left;
  margin-right: 9rem;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.09);
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-thumb {
  width: 100%;
  height: 21.625rem;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-thumb img {
  width: 110%;
  height: auto;
  min-height: 110%;
  transform: scale(1);
  transition: 0.7s ease all;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-box {
  width: 100%;
  padding: 0px;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-box h4 {
  font-size: 3rem;
  font-weight: 700;
  color: #6B0B68;
  text-align: left;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Parkson", sans-serif !important;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-box p {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000000;
  text-align: left;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif !important;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-box .blog-card-leia {
  display: none;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-box .blog-card-saiba {
  width: 22.938rem;
  height: 2.375rem;
  border-radius: 1rem;
  background-color: #B700B7;
  padding: 1.188rem 1rem 1.188rem 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  filter: brightness(1);
  transition: 0.5s ease all;
}
.blog-container .blog-content .blog-card:first-of-type .blog-card-box .blog-card-saiba:hover {
  filter: brightness(1.3);
  transition: 0.5s ease all;
}
.blog-container .blog-content .blog-card:first-of-type:hover .blog-card-thumb img {
  transform: scale(1.07);
  transition: 0.7s ease all;
}
.blog-container .blog-content .blog-card:first-of-type:hover .blog-card-saiba {
  filter: brightness(1.3);
  transition: 0.5s ease all;
}

.fale-conosco-container {
  width: 100%;
  height: auto;
  background-color: #8C008C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.fale-conosco-container .fale-conosco-overlay {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0px 3rem 0px;
}
.fale-conosco-container .fale-conosco-overlay .fale-conosco-content {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fale-conosco-container .fale-conosco-overlay .fale-conosco-content h3 {
  font-size: 4rem;
  line-height: 4.375rem;
  color: #FFFFFF;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-family: "Parkson", sans-serif !important;
}
.fale-conosco-container .fale-conosco-overlay .fale-conosco-content a {
  text-decoration: none;
  width: 22.938rem;
  height: 3rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.938rem;
  cursor: pointer;
  color: #390037;
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
  background-color: #DDFFAB;
  filter: brightness(1);
  transition: 0.5s ease all;
}
.fale-conosco-container .fale-conosco-overlay .fale-conosco-content a:hover {
  filter: brightness(1.3);
  transition: 0.5s ease all;
}

/*# sourceMappingURL=estilos.css.map */
