@media (max-width: 1172px) {
  .container {
    max-width: 100% !important;
  }
  .footer-content {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    padding: 3rem 1.5rem 0px 1.5rem !important;
  }
  .footer-content .footer-box-1 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 1;
  }
  .footer-content .footer-box-2 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 3;
  }
  .footer-content .footer-box-3 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 4;
  }
  .footer-content .footer-box-4 {
    width: auto !important;
    height: 9.313rem !important;
    margin-bottom: 2rem !important;
    order: 5;
  }
  .footer-content .footer-box-5 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 2;
  }
  .footer-bottom-content {
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .footer-bottom-content p {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 991px) {
  .header-container {
    background: #0B131F !important;
    position: relative;
  }
  .header-container .header-content-top {
    border-bottom: none !important;
  }
  .header-container .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.25rem !important;
    padding-bottom: 2.25rem !important;
  }
  .header-container .header-content #hamburger-box {
    width: auto;
    height: auto;
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .header-container .header-content .logo {
    width: auto;
    height: 2.4rem;
  }
  .header-container .header-content .polylang-languages {
    top: 2.4rem !important;
  }
  .header-container .header-menu-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0B131F !important;
    padding: 0px !important;
    z-index: 1000;
    transition: 0.5s ease all;
    max-height: 0px;
    opacity: 0;
    height: auto;
    overflow: hidden;
  }
  .header-container .header-menu-content.menu-aberto {
    max-height: 500px;
    opacity: 1;
    transition: 0.5s ease all;
  }
  .header-container .header-menu-content .menu {
    flex-direction: column;
    padding: 2rem 1.2rem !important;
  }
  .header-container .header-menu-content .menu .menu-item {
    padding: 0.7rem 0px !important;
  }
  .header-container .breadcrumbs-content {
    padding: 0.8rem 0.65rem;
    position: absolute;
    top: 110%;
    left: 0rem;
    max-width: 100%;
    overflow: hidden;
  }
  .header-container .breadcrumbs-content span {
    white-space: nowrap;
  }
  .banner-principal {
    height: auto !important;
    max-height: none !important;
  }
  .banner-principal .banner-content {
    padding: 10rem 1.5rem 3rem 1.5rem !important;
  }
  .banner-principal .banner-content .form-content {
    position: unset !important;
    width: auto !important;
  }
  .descritivo-container {
    display: none !important;
  }
  .formatos-titulo-container {
    background-color: #f62bf6 !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay {
    padding: 1.6rem 0px 1rem 0px !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    padding-bottom: 1.3rem !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo hr {
    width: 100% !important;
    opacity: 1 !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-subtitulo p {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    line-height: 2rem !important;
  }
  .formatos-abas-container {
    overflow: auto;
    justify-content: flex-start !important;
  }
  .formatos-abas-container .formatos-aba-content {
    min-width: 86rem;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .formatos-container {
    background: #1e0c42 !important;
  }
  .formatos-container .formatos-content {
    align-items: center !important;
    justify-content: flex-start !important;
    flex-direction: column;
    padding: 0px !important;
  }
  .formatos-container .formatos-content .formato-box-1 {
    width: 100% !important;
    max-width: none !important;
    background-color: #1e0c42;
    padding: 2rem 1.5rem !important;
  }
  .formatos-container .formatos-content .formato-box-1 .formato-slide {
    width: auto !important;
  }
  .formatos-container .formatos-content .formato-box-2 {
    width: 100% !important;
    max-width: none !important;
    padding: 2rem 1.5rem !important;
  }
}
@media (max-width: 842px) {
  .banner-principal {
    height: auto !important;
    max-height: none !important;
    background-size: 220%;
  }
  .banner-principal .banner-overlay {
    background: linear-gradient(0deg, rgb(183, 0, 183) 0%, rgb(183, 0, 183) 31%, rgba(183, 0, 183, 0) 68%, rgba(183, 0, 183, 0)) !important;
  }
  .banner-principal .banner-content {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center !important;
    padding-bottom: 4rem !important;
    padding-top: 14rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .banner-principal .banner-content .banner-box {
    width: auto !important;
    height: auto !important;
  }
  .banner-principal .banner-content .banner-box p {
    font-weight: 400 !important;
  }
  .banner-principal .banner-content .form-content {
    position: unset !important;
    margin-top: 1rem !important;
    width: auto !important;
  }
}
@media (max-width: 425px) {
  .banner-principal {
    background-size: 395% !important;
  }
  .banner-box img {
    height: 4.063rem !important;
    width: auto;
    margin-bottom: 1rem !important;
  }
  .form-content button {
    width: 17rem !important;
    border-radius: 1.5rem !important;
  }
}
@media (max-width: 375px) {
  .btn-banner {
    width: 100% !important;
  }
}

/*# sourceMappingURL=responsivo.css.map */
