@media (max-width: 1200px) {
  .banner-principal {
    height: auto !important;
    max-height: none !important;
  }
  .banner-principal .banner-content {
    padding: 10rem 1.5rem 3rem 1.5rem !important;
  }
  .banner-principal .banner-content .form-content {
    position: unset !important;
    width: auto !important;
  }
}
@media (max-width: 1172px) {
  .container {
    max-width: 100% !important;
  }
  .footer-content {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    padding: 3rem 1.5rem 0px 1.5rem !important;
  }
  .footer-content .footer-box-1 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 1;
  }
  .footer-content .footer-box-2 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 3;
  }
  .footer-content .footer-box-3 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 4;
  }
  .footer-content .footer-box-4 {
    width: auto !important;
    height: 9.313rem !important;
    margin-bottom: 2rem !important;
    order: 5;
  }
  .footer-content .footer-box-5 {
    width: auto !important;
    margin-bottom: 2rem !important;
    order: 2;
  }
  .footer-bottom-content {
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .footer-bottom-content p {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 1100px) {
  .blog-container .blog-content {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .header-container {
    background: #0B131F !important;
    position: relative;
  }
  .header-container .header-content-top {
    border-bottom: none !important;
  }
  .header-container .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.25rem !important;
    padding-bottom: 2.25rem !important;
  }
  .header-container .header-content #hamburger-box {
    width: auto;
    height: auto;
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .header-container .header-content .logo {
    width: auto;
    height: 2.4rem;
  }
  .header-container .header-content .polylang-languages {
    top: 2.4rem !important;
  }
  .header-container .header-menu-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0B131F !important;
    padding: 0px !important;
    z-index: 1000;
    transition: 0.5s ease all;
    max-height: 0px;
    opacity: 0;
    height: auto;
    overflow: hidden;
  }
  .header-container .header-menu-content.menu-aberto {
    max-height: 500px;
    opacity: 1;
    transition: 0.5s ease all;
  }
  .header-container .header-menu-content .menu {
    flex-direction: column;
    padding: 2rem 1.2rem !important;
  }
  .header-container .header-menu-content .menu .menu-item {
    padding: 0.7rem 0px !important;
  }
  .header-container .breadcrumbs-content {
    padding: 0.8rem 0.65rem;
    position: absolute;
    top: 110%;
    left: 0rem;
    max-width: 100%;
    overflow: hidden;
  }
  .header-container .breadcrumbs-content span {
    white-space: nowrap;
  }
  .descritivo-container {
    display: none !important;
  }
  .formatos-titulo-container {
    background-color: #f62bf6 !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay {
    padding: 1.6rem 0px 1rem 0px !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    padding-bottom: 1.3rem !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo h3 {
    font-size: 3rem !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-titulo hr {
    width: 100% !important;
    opacity: 1 !important;
  }
  .formatos-titulo-container .formatos-titulo-overlay .formato-titulo-content .formato-subtitulo p {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    line-height: 2rem !important;
  }
  .formatos-abas-container {
    overflow: auto;
    justify-content: flex-start !important;
  }
  .formatos-abas-container .formatos-aba-content {
    min-width: 86rem;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .formatos-container {
    background: #1e0c42 !important;
  }
  .formatos-container .formatos-content {
    align-items: center !important;
    justify-content: flex-start !important;
    flex-direction: column;
    padding: 0px !important;
  }
  .formatos-container .formatos-content .formato-box-1 {
    width: 100% !important;
    max-width: none !important;
    background-color: #1e0c42;
    padding: 2rem 1.5rem !important;
  }
  .formatos-container .formatos-content .formato-box-1 .formato-slide {
    width: auto !important;
  }
  .formatos-container .formatos-content .formato-box-2 {
    width: 100% !important;
    max-width: none !important;
    padding: 2rem 1.5rem !important;
  }
  .cases-titulo-content {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .cases-titulo-content h3 {
    font-size: 3rem !important;
  }
  .cases-titulo-content hr {
    width: 85% !important;
  }
  .cases-container .cases-content {
    grid-template-columns: repeat(4, 24.5%);
    gap: 0.25rem !important;
  }
  .cases-container .cases-content .cases-card {
    height: 13.8rem !important;
  }
  .blog-titulo-container {
    padding: 3rem 0px 2rem 0px !important;
  }
  .blog-titulo-container .blog-titulo-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    position: relative;
  }
  .blog-titulo-container .blog-titulo-content::before {
    content: "";
    width: 85%;
    height: 1px;
    background-color: #B700B7;
    outline: none;
    border: none;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
  }
  .blog-titulo-container .blog-titulo-content h3 {
    font-size: 3rem !important;
  }
  .blog-titulo-container .blog-titulo-content .blog-subtitulo {
    width: 100% !important;
    margin-left: 0px !important;
    border-top: none !important;
    justify-content: flex-start !important;
  }
  .blog-container {
    padding-bottom: 1rem !important;
  }
  .blog-container .blog-content .blog-card {
    width: 24.063rem !important;
    height: 6rem !important;
    margin-bottom: 1.3rem !important;
  }
  .blog-container .blog-content .blog-card .blog-card-thumb {
    width: 10.125rem !important;
    min-width: 10.125rem !important;
    border-radius: 0px !important;
  }
  .blog-container .blog-content .blog-card .blog-card-box {
    width: auto;
    padding: 0px 1.25rem 1rem 1.25rem !important;
  }
  .blog-container .blog-content .blog-card .blog-card-box span {
    font-size: 0.75rem !important;
    line-height: 0.938rem !important;
    font-weight: 700;
    color: #FF0C66;
    text-align: left;
    display: flex !important;
  }
  .blog-container .blog-content .blog-card .blog-card-box h4 {
    font-size: 0.75rem !important;
    line-height: 0.938rem !important;
    font-weight: 400 !important;
    color: #390037 !important;
    text-align: left;
    text-transform: unset !important;
    font-family: "inter", sans-serif !important;
  }
  .blog-container .blog-content .blog-card .blog-card-box .blog-card-leia {
    display: none !important;
  }
  .blog-container .blog-content .blog-card:first-of-type {
    width: 23.938rem !important;
    height: auto !important;
    padding: 0px !important;
    border-radius: 0px 0px 0.725rem 0.725rem !important;
    float: unset !important;
    margin-right: 0px !important;
    margin-bottom: 2.1rem !important;
  }
  .blog-container .blog-content .blog-card:first-of-type .blog-card-thumb {
    height: 14.625rem !important;
    width: 100% !important;
    border-radius: 0px !important;
  }
  .blog-container .blog-content .blog-card:first-of-type .blog-card-box {
    width: 100% !important;
    padding: 1rem 2rem 2rem 2rem !important;
  }
  .blog-container .blog-content .blog-card:first-of-type .blog-card-box span {
    display: none !important;
  }
  .blog-container .blog-content .blog-card:first-of-type .blog-card-box h4 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
  .blog-container .blog-content .blog-card:first-of-type .blog-card-box p {
    margin-bottom: 2rem !important;
    line-height: 2rem !important;
  }
  .blog-container .blog-content .blog-card:first-of-type .blog-card-box .blog-card-saiba {
    width: 100% !important;
  }
}
@media (max-width: 842px) {
  .banner-principal {
    height: auto !important;
    max-height: none !important;
    background-size: 220%;
  }
  .banner-principal .banner-overlay {
    background: linear-gradient(0deg, rgb(183, 0, 183) 0%, rgb(183, 0, 183) 31%, rgba(183, 0, 183, 0) 68%, rgba(183, 0, 183, 0)) !important;
  }
  .banner-principal .banner-content {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center !important;
    padding-bottom: 4rem !important;
    padding-top: 14rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .banner-principal .banner-content .banner-box {
    width: auto !important;
    height: auto !important;
  }
  .banner-principal .banner-content .banner-box p {
    font-weight: 400 !important;
  }
  .banner-principal .banner-content .form-content {
    position: unset !important;
    margin-top: 1rem !important;
    width: auto !important;
  }
}
@media (max-width: 620px) {
  .cases-container .cases-content {
    grid-template-columns: repeat(3, 33%);
    gap: 0.25rem !important;
  }
  .cases-container .cases-content .cases-card {
    height: 13.8rem !important;
  }
  .blog-titulo-container .blog-titulo-content::before {
    width: 80% !important;
  }
}
@media (max-width: 425px) {
  .banner-principal {
    background-size: 395% !important;
  }
  .banner-box img {
    height: 4.063rem !important;
    width: auto;
    margin-bottom: 1rem !important;
  }
  .form-content button {
    width: 17rem !important;
    border-radius: 1.5rem !important;
  }
  .cases-titulo-content hr {
    width: 80% !important;
  }
  .cases-container .cases-content {
    grid-template-columns: repeat(2, 49%);
    gap: 0.65rem !important;
  }
  .cases-container .cases-content .cases-card {
    height: 13.8rem !important;
  }
  .blog-titulo-container .blog-titulo-content::before {
    width: 72% !important;
  }
}
@media (max-width: 375px) {
  .btn-banner {
    width: 100% !important;
  }
}

/*# sourceMappingURL=responsivo.css.map */
