
html {
    body {
         font-family: 'Oswald', sans-serif !important;
 
         .container {
             max-width: 1140px;
             margin: 0 auto;
         }
         
         .header-container {
             background: linear-gradient(0deg, rgb(0 0 0 / 2%) 0%, rgb(0 0 0 / 31%) 11%, rgb(0 0 0 / 65%) 30%, rgb(0 0 0 / 88%) 51%, rgb(0 0 0 / 101%) 83%, rgb(0 0 0) 100%);
             position: fixed;
             top: 0px;
             left: 0px;
             z-index: 1000;
 
             .header-content-top {
                 border-bottom: 1px solid #838383;
         
                 .header-content {
                     padding-top: 1.25rem;
                     padding-bottom: 1.25rem;
                 
                     .logo img {
                         height: 90%;
                         width: auto;
                     }
                 
                     .icons-header {
                         margin-left: 1rem;
 
                         .icons-header-item {
                             svg {
                                 height: 1.3rem;
                                 width: auto;
                                 margin-right: 0.938rem;
                             }
                         }
                 
                         .icons-header-item:last-of-type {
                             svg {
                                 height: 2.1rem;
                                 margin-top: 0.2rem;
                             }
                         }
                     }
 
                     .polylang-languages {
                         width: auto;
                         height: auto;
                         max-height: 1.938rem;
                         position: absolute;
                         right: 1.25rem;
                         top: 1.4rem;
                         overflow: hidden;
                         display: flex;
                         flex-direction: column;
                         justify-content: flex-start;
                         align-items: flex-start;
                         transition: 0.5s ease all;
                         border-radius: 0.625rem;
                         background-color: transparent;
                         padding: 0.3rem 1.938rem 0.6rem 1rem;
 
                         &:hover {
                             max-height: 6rem;
                             transition: 0.5s ease all;
                             background-color: rgba(0, 0, 0, 0.425);
                             padding: 0.3rem 1.938rem 0.6rem 1rem;
                             margin: 0px;
                         }
 
                         li {
                             display: flex;
                             height: auto;
                             padding: 0px;
                             justify-content: center;
                             align-items: center;
                             list-style: none;
                             width: auto;
                             margin: 0.3rem 0rem 0rem 0rem;
                             order: 2;
 
                             a {
                                 flex-direction: row-reverse;
                                 display: flex;
                                 padding: 0px;
                                 justify-content: center;
                                 align-items: center;
                                 text-decoration: none;
                                 width: auto;
 
                                 span {
                                     font-size: 0.875rem;
                                     color: white;
                                     text-decoration: none;
                                     font-weight: 400;
                                     margin-right: 0.5rem;
                                 }
 
                                 img {
                                     height: 1rem !important;
                                     width: auto !important;
                                 }
                             }
                         }
 
                         .current-lang {
                             order: 1 !important;
                         }
 
                         &::before {
                             position: absolute;
                             top: 0rem;
                             right: 0.7rem;
                             content: ">";
                             color: white;
                             font-weight: 400;
                             transform: rotate(90deg);
                             font-size: 1.5rem;
                         }
                     }
                 }
             }
         
             .header-menu-content {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 padding-top: 0.625rem;
                 padding-bottom: 1.563rem;
         
                 .menu-header-container {
                     width: 100%;
                     height: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     padding: 0px;
         
                     .menu {
                         width: 100%;
                         height: 100%;
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                         padding: 0px;
                         margin: 0px;
         
                         .menu-item {
                             list-style: none;
                             height: 100%;
                             width: auto;
                             padding: 0px 13px;
                             box-sizing: border-box;
                             display: flex;
                             justify-content: center;
                             align-items: center;
         
                             a {
                                 font-weight: 400;
                                 font-size: 1.25rem;
                                 line-height: 1.25rem;
                                 color: #FFFFFF;
                                 text-align: right;
                                 text-decoration: none;
                                 text-transform: uppercase;
                                 transition: 0.5s ease all;
 
                                 &:hover {
                                     transition: 0.5s ease all;
                                     color: #c791c7;
                                 }
                             }
                         }
                     }
                 }
             }
 
             .breadcrumbs-content {
                 height: auto;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
                 color: #FFFFFF;
                 font-size: 1;
                 font-family: 'Inter', sans-serif !important;
                 
                 a {
                     text-decoration: none;
 
                     span {
                         font-size: 1;
                         color: #FFFFFF;
                         font-weight: 600;
                         text-decoration: none;
                         opacity: 1;
                         margin: 0px 0.7rem 0px 0.7rem;
 
                         &:hover {
                             font-size: 1;
                             color: #FFFFFF;
                             font-weight: 600;
                             text-decoration: none;
                             opacity: 1;
                         }
                     }
                 }
 
                 .current-item {
                    font-size: 1;
                    color: #ee0c63;
                    font-weight: 700;
                    text-decoration: none;
                    opacity: 1;
                    margin: 0px 0.7rem 0px 0.7rem;
                 }
             }
         }
 
     }
 }
 
 
 @media (min-width: 1200px) {
     html {
         font-size: 12px;
     }
 }
 
 @media (min-width: 1400px) {
     html {
         font-size: 14px;
         
         .container {
             max-width: 1340px !important;
             margin: 0 auto;
         }
 
         .icons-header {
             margin-left: 0rem !important;
         }
     }
 }
 
 @media (min-width: 1800px) {
     html {
         font-size: 16px;
 
         .container {
             max-width: 1440px !important;
             margin: 0 auto;
         }
     }
 }
 
 @media (max-width: 1200px) {
     html {
         font-size: 12px;
     }
 }
 
 