
html {
    body {
         font-family: 'Oswald', sans-serif !important;
 
         .container {
             max-width: 1140px;
             margin: 0 auto;
         }
         
         .header-container {
             background: linear-gradient(0deg, rgb(0 0 0 / 2%) 0%, rgb(0 0 0 / 31%) 11%, rgb(0 0 0 / 65%) 30%, rgb(0 0 0 / 88%) 51%, rgb(0 0 0 / 101%) 83%, rgb(0 0 0) 100%);
             position: fixed;
             top: 0px;
             left: 0px;
             z-index: 1000;
 
             .header-content-top {
                 border-bottom: 1px solid #838383;
         
                 .header-content {
                     padding-top: 1.25rem;
                     padding-bottom: 1.25rem;
                 
                     .logo img {
                         height: 90%;
                         width: auto;
                     }
                 
                     .icons-header {
                         margin-left: 1rem;
 
                         .icons-header-item {
                             svg {
                                 height: 1.3rem;
                                 width: auto;
                                 margin-right: 0.938rem;
                             }
                         }
                 
                         .icons-header-item:last-of-type {
                             svg {
                                 height: 2.1rem;
                                 margin-top: 0.2rem;
                             }
                         }
                     }
 
                     .polylang-languages {
                         width: auto;
                         height: auto;
                         max-height: 1.938rem;
                         position: absolute;
                         right: 1.25rem;
                         top: 1.4rem;
                         overflow: hidden;
                         display: flex;
                         flex-direction: column;
                         justify-content: flex-start;
                         align-items: flex-start;
                         transition: 0.5s ease all;
                         border-radius: 0.625rem;
                         background-color: transparent;
                         padding: 0.3rem 1.938rem 0.6rem 1rem;
 
                         &:hover {
                             max-height: 6rem;
                             transition: 0.5s ease all;
                             background-color: rgba(0, 0, 0, 0.425);
                             padding: 0.3rem 1.938rem 0.6rem 1rem;
                             margin: 0px;
                         }
 
                         li {
                             display: flex;
                             height: auto;
                             padding: 0px;
                             justify-content: center;
                             align-items: center;
                             list-style: none;
                             width: auto;
                             margin: 0.3rem 0rem 0rem 0rem;
                             order: 2;
 
                             a {
                                 flex-direction: row-reverse;
                                 display: flex;
                                 padding: 0px;
                                 justify-content: center;
                                 align-items: center;
                                 text-decoration: none;
                                 width: auto;
 
                                 span {
                                     font-size: 0.875rem;
                                     color: white;
                                     text-decoration: none;
                                     font-weight: 400;
                                     margin-right: 0.5rem;
                                 }
 
                                 img {
                                     height: 1rem !important;
                                     width: auto !important;
                                 }
                             }
                         }
 
                         .current-lang {
                             order: 1 !important;
                         }
 
                         &::before {
                             position: absolute;
                             top: 0rem;
                             right: 0.7rem;
                             content: ">";
                             color: white;
                             font-weight: 400;
                             transform: rotate(90deg);
                             font-size: 1.5rem;
                         }
                     }
                 }
             }
         
             .header-menu-content {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 padding-top: 0.625rem;
                 padding-bottom: 1.563rem;
         
                 .menu-header-container {
                     width: 100%;
                     height: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     padding: 0px;
         
                     .menu {
                         width: 100%;
                         height: 100%;
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                         padding: 0px;
                         margin: 0px;
         
                         .menu-item {
                             list-style: none;
                             height: 100%;
                             width: auto;
                             padding: 0px 13px;
                             box-sizing: border-box;
                             display: flex;
                             justify-content: center;
                             align-items: center;
         
                             a {
                                 font-weight: 400;
                                 font-size: 1.25rem;
                                 line-height: 1.25rem;
                                 color: #FFFFFF;
                                 text-align: right;
                                 text-decoration: none;
                                 text-transform: uppercase;
                                 transition: 0.5s ease all;
 
                                 &:hover {
                                     transition: 0.5s ease all;
                                     color: #c791c7;
                                 }
                             }
                         }
                     }
                 }
             }
 
             .breadcrumbs-content {
                 height: auto;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
                 color: #FFFFFF;
                 font-size: 1;
                 font-family: 'Inter', sans-serif !important;
                 transition: 1s ease all;
                 opacity: 1;
                 visibility: visible;

                 &.breadcrumb-visible {
                    transition: 1s ease all;
                    opacity: 0;
                    visibility: hidden;
                 }
                 
                 a {
                     text-decoration: none;
 
                     span {
                         font-size: 1;
                         color: #FFFFFF;
                         font-weight: 600;
                         text-decoration: none;
                         opacity: 1;
                         margin: 0px 0.7rem 0px 0.7rem;
 
                         &:hover {
                             font-size: 1;
                             color: #FFFFFF;
                             font-weight: 600;
                             text-decoration: none;
                             opacity: 1;
                         }
                     }
                 }
 
                 .current-item {
                    font-size: 1;
                    color: #ee0c63;
                    font-weight: 700;
                    text-decoration: none;
                    opacity: 1;
                    margin: 0px 0.7rem 0px 0.7rem;
                 }
             }
         }
 
     }
 }

 .footer-container {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1E0C42;

    .footer-content {
        height: auto;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 5rem;

        .footer-box-1 {
            width: auto;
            height: auto;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .logo-footer {
                width: 10.625rem;
                height: auto;
                margin: 0px;
                margin-bottom: 1.875rem;
            }

            .icons-footer {
                width: auto;
                height: auto;
                padding: 0px;
                margin: 0px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .icons-footer-item {
                    svg {
                        height: 1.3rem;
                        width: auto;
                        margin-right: 0.938rem;
                    }
                }
        
                .icons-footer-item:last-of-type {
                    svg {
                        height: 2.1rem;
                        margin-top: 0.2rem;
                    }
                }
            }            
        }

        .footer-box-2 {
            width: 7.188rem;
            height: auto;
            margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .menu-sobre-container {
                width: auto;
                height: auto;
                width: auto;
                height: auto;
                margin: 0px;
                padding: 0px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;

                .menu {
                    width: auto;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0px;
                    margin: 0px;

                    .menu-item {
                        list-style: none;
                        height: auto;
                        width: auto;
                        padding: 0px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 0.45rem;

                        a {
                            font-weight: 700;
                            font-size: 1.325rem;
                            color: #FFFFFF;
                            text-align: left;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: 0.5s ease all;
                            font-family: 'Parkson', sans-serif !important;
                        }
                    }
                }
            }
        }

        .footer-box-3 {
            width: 10.813rem;
            height: auto;
            margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .menu-footer-container {
                width: auto;
                height: auto;
                width: auto;
                height: auto;
                margin: 0px;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .menu {
                    width: auto;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0px;
                    margin: 0px;

                    .menu-item {
                        list-style: none;
                        height: auto;
                        width: auto;
                        padding: 0px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 0.45rem;

                        a {
                            font-weight: 700;
                            font-size: 1.325rem;
                            color: #FFFFFF;
                            text-align: left;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: 0.5s ease all;
                            font-family: 'Parkson', sans-serif !important;
                        }
                    }
                }
            }
        }

        .footer-box-4 {
            width: 9.35rem;
            height: 11.313rem;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .footer-box-endereco {
                width: auto;
                height: auto;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                p {
                    font-weight: 700;
                    font-size: 1.325rem;
                    color: #FFFFFF;
                    text-align: left;
                    text-transform: uppercase;
                    transition: 0.5s ease all;
                    font-family: 'Parkson', sans-serif !important;
                    margin-bottom: 0.2rem;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                }
            }

            .footer-box-contato {
                width: auto;
                height: auto;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                a {
                    font-weight: 700;
                    font-size: 1.325rem;
                    color: #FFFFFF;
                    text-align: left;
                    text-transform: uppercase;
                    transition: 0.5s ease all;
                    font-family: 'Parkson', sans-serif !important;
                    margin-bottom: 0.2rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;

                    img {
                        width: 1.125rem;
                        height: auto;
                        margin: 0px;
                        margin-right: 0.513rem;
                    }

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .footer-box-5 {
            width: 23rem;
            height: auto;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #FFFFFF;
                text-align: left;
                font-family: 'Inter', sans-serif !important;
                margin-bottom: 1.5rem;
            }

            form {
                width: auto;
                height: auto;
                margin: 0px;
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                div {
                    width: auto;
                    height: auto;
                    padding: 0px;
                    margin: 0px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 1.563rem;

                    input {
                        width: 17.5rem;
                        height: 3.125rem;
                        outline: none;
                        border: none;
                        background-color: #FFFFFF;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: #737373;
                        text-align: left;
                        border-radius: 1rem 0px 0px 1rem;
                        padding: 0px 1.25rem 0px 1.25rem;
                        margin: 0px;
                    }

                    button {
                        width: 6.875rem;
                        height: 3.125rem;
                        outline: none;
                        border: none;
                        border-radius: 0rem 1rem 1rem 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #6B0B68;
                        font-weight: 700;
                        color: #FFFFFF;
                        font-size: 1rem;
                        text-align: center;
                        cursor: pointer;
                        margin: 0px;
                        filter: brightness(1);
                        transition: 0.5s ease all;

                        &:hover {
                            filter: brightness(1.3);
                            transition: 0.5s ease all;
                        }
                    }
                }

                label {
                    width: auto;
                    height: auto;
                    padding: 0px;
                    margin: 0px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    input {
                        width: 1.3rem;
                        height: 1rem;
                        background-color: #FFFFFF;
                        border: 2px solid #FFFFFF;
                        border-radius: 0.5rem;
                        margin-right: 0.625rem;
                        overflow: hidden;
                        outline: none;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        &:checked {
                            background-color: #6B0B68;
                        }
                    }

                    span {
                        font-size: 0.875rem;
                        line-height: 1.125rem;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-align: left;
                        margin: 0px;
                        padding: 0px;
                        font-family: 'Inter', sans-serif !important;
                    }
                }
            }
        }
    }

    .footer-bottom-container {
        width: 100%;
        height: auto;
        padding: 2.5rem 0px;
        margin: 0px;
        border-top: 1px solid #ffffff2b;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-bottom-content {
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                width: auto;
                font-size: 0.875rem;
                line-height: 1.125rem;
                font-weight: 400;
                color: #FFFFFF;
                text-align: left;
                margin: 0px;
                padding: 0px;
                font-family: 'Inter', sans-serif !important;

                a {
                    font-size: 0.875rem;
                    line-height: 1.125rem;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-align: left;
                    margin: 0px;
                    padding: 0px;
                    cursor: pointer;
                    text-decoration: none;
                    width: auto;
                    height: auto;
                    font-family: 'Inter', sans-serif !important;
                }
            }

            .poweredby {
                width: auto;
                height: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                text-decoration: none;
                cursor: pointer;

                span {
                    font-size: 0.875rem;
                    line-height: 1.125rem;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-align: left;
                    margin: 0px;
                    padding: 0px;
                    margin-right: 0.625rem;
                    font-family: 'Inter', sans-serif !important;
                }

                img {
                    height: 1.25rem;
                    width: auto;
                    margin: 0px;
                }
            }
        }
    }
 }
 
 
 @media (min-width: 1200px) {
     html {
         font-size: 12px;
     }
 }
 
 @media (min-width: 1400px) {
     html {
         font-size: 14px;
         
         .container {
             max-width: 1320px !important;
             margin: 0 auto;
         }
 
         .icons-header {
             margin-left: 0rem !important;
         }
     }
 }
 
 @media (min-width: 1800px) {
     html {
         font-size: 16px;
 
         .container {
             max-width: 1510px !important;
             margin: 0 auto;
         }
     }
 }
 
 @media (max-width: 1200px) {
     html {
         font-size: 12px;
     }
 }
 
 