@font-face {
    font-family: 'Parkson';
    src: url('../assets/fonts/Parkson.otf') format('opentype'),
         url('../assets/fonts/Parkson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.banner-principal {
    width: 100%;
    height: 82vh;
    max-height: 43.875rem;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;

    .banner-overlay {
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.700717787114846) 31%, rgba(0,0,0,0.41780462184873945) 68%, rgba(0,0,0,0) 100%);

        .banner-content {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            .banner-box {
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                padding-bottom: 2.3rem;
                justify-content: flex-end;
                align-items: flex-start;

                img {
                    height: 6.063rem;
                    width: auto;
                    margin-bottom: 2rem;
                }

                h1 {
                    font-weight: 600;
                    font-size: 4.2rem;
                    color: #FFFFFF;
                    text-align: left;
                    margin-bottom: 1.063rem;
                    padding: 0px;
                    font-family: 'Parkson', sans-serif;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 600;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    text-align: left;
                    margin-bottom: 2.4rem;
                    font-family: 'Inter', sans-serif !important;
                }

                span {
                    font-weight: 200;
                    font-size: 1em;
                    color: #FFFFFF;
                    text-align: left;
                    margin-bottom: 1rem;
                    font-family: 'Inter', sans-serif !important;
                }

                .btn-banner {
                    width: 22.938rem;
                    height: 2.375rem;
                    border-radius: 1rem;
                    background-color:#8870FF;
                    padding: 1.188rem 1rem 1.188rem 1rem;
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 0.875rem;
                    font-family: 'Inter', sans-serif !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
            }

            .form-content {
                width: 27.813rem;
                height: auto;
                position: absolute;
                right: 0.625rem;
                top: 8.8rem;
                border-radius: 1.25rem;
                padding: 1rem 1.2rem 1.263rem 1.2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: #FFFFFF;

                h2 {
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                    color: #6B0B68;
                    padding: 0px;
                    font-family: 'Parkson', sans-serif;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 1.25rem;
                }

                form {
                    width: 100%;
                    height: auto;
                    padding: 0px;
                    margin: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .form-box {
                        width: 100%;
                        height: auto;
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 0.8rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        label {
                            width: 100%;
                            height: auto;
                            padding: 0px;
                            margin: 0px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            span {
                                font-family: 'Inter', sans-serif !important;
                                color: #1E0C42;
                                font-weight: 600;
                                text-align: left;
                                font-size: 0.875rem;
                                margin-bottom: 0.8rem;
                            }

                            input {
                                width: 100%;
                                height: 2.375rem;
                                border-radius: 1rem;
                                border: 1px solid #e6E6E6;
                                background-color: #F9F9F9;
                                padding: 1.188rem 1rem 1.188rem 1rem;
                                color: #737373;
                                font-weight: 400;
                                font-size: 0.875rem;
                                font-family: 'Inter', sans-serif !important;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }

                            select {
                                width: 100%;
                                height: 2.375rem;
                                border-radius: 1rem;
                                border: 1px solid #e6E6E6;
                                background-color: #F9F9F9;
                                padding: 1.188rem 1rem 1.188rem 1rem;
                                color: #737373;
                                font-weight: 400;
                                font-size: 0.875rem;
                                font-family: 'Inter', sans-serif !important;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }
                        }

                        &:first-of-type {
                            label {
                                width: 48.5%;
                            }       
                        }
                    }

                    button {
                        width: 100%;
                        height: 2.375rem;
                        border-radius: 1rem;
                        background-color: #B700B7;
                        border: 1px solid #B700B7;
                        padding: 1.188rem 1rem 1.188rem 1rem;
                        color: #FFFFFF;
                        font-weight: 700;
                        font-size: 0.875rem;
                        font-family: 'Inter', sans-serif !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}