@font-face {
    font-family: 'Parkson';
    src: url('../assets/fonts/Parkson.otf') format('opentype'),
         url('../assets/fonts/Parkson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.banner-principal {
    width: 100%;
    height: 82vh;
    max-height: 43.875rem;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;

    .banner-overlay {
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.700717787114846) 31%, rgba(0,0,0,0.41780462184873945) 68%, rgba(0,0,0,0) 100%);

        .banner-content {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            .banner-box {
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                padding-bottom: 2.3rem;
                justify-content: flex-end;
                align-items: flex-start;

                img {
                    height: 6.063rem;
                    width: auto;
                    margin-bottom: 2rem;
                }

                h1 {
                    font-weight: 600;
                    font-size: 4.2rem;
                    color: #FFFFFF;
                    text-align: left;
                    margin-bottom: 1.063rem;
                    padding: 0px;
                    font-family: 'Parkson', sans-serif;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 600;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    text-align: left;
                    margin-bottom: 2.4rem;
                    font-family: 'Inter', sans-serif !important;
                }

                span {
                    font-weight: 200;
                    font-size: 1em;
                    color: #FFFFFF;
                    text-align: left;
                    margin-bottom: 1rem;
                    font-family: 'Inter', sans-serif !important;
                }

                .btn-banner {
                    width: 22.938rem;
                    height: 2.375rem;
                    border-radius: 1rem;
                    background-color:#8870FF;
                    padding: 1.188rem 1rem 1.188rem 1rem;
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 0.875rem;
                    font-family: 'Inter', sans-serif !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
            }

            .form-content {
                width: 27.813rem;
                height: auto;
                position: absolute;
                right: 0.625rem;
                top: 8.8rem;
                border-radius: 1.25rem;
                padding: 1rem 1.2rem 1.263rem 1.2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: #FFFFFF;
                -webkit-box-shadow: 0px 7px 19px -6px rgba(0,0,0,0.27);
                -moz-box-shadow: 0px 7px 19px -6px rgba(0,0,0,0.27);
                box-shadow: 0px 7px 19px -6px rgba(0,0,0,0.27);

                h2 {
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                    color: #6B0B68;
                    padding: 0px;
                    font-family: 'Parkson', sans-serif;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 1.25rem;
                }

                form {
                    width: 100%;
                    height: auto;
                    padding: 0px;
                    margin: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .form-box {
                        width: 100%;
                        height: auto;
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 0.8rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        label {
                            width: 100%;
                            height: auto;
                            padding: 0px;
                            margin: 0px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            span {
                                font-family: 'Inter', sans-serif !important;
                                color: #1E0C42;
                                font-weight: 600;
                                text-align: left;
                                font-size: 0.875rem;
                                margin-bottom: 0.8rem;
                            }

                            input {
                                width: 100%;
                                height: 2.375rem;
                                border-radius: 1rem;
                                border: 1px solid #e6E6E6;
                                background-color: #F9F9F9;
                                padding: 1.188rem 1rem 1.188rem 1rem;
                                color: #737373;
                                font-weight: 400;
                                font-size: 0.875rem;
                                font-family: 'Inter', sans-serif !important;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                &::placeholder {
                                    color: #737373;
                                    font-weight: 400;
                                    font-size: 0.875rem;
                                    font-family: 'Inter', sans-serif !important;
                                }
                            }

                            select {
                                width: 100%;
                                height: 2.375rem;
                                border-radius: 1rem;
                                border: 1px solid #e6E6E6;
                                background-color: #F9F9F9;
                                padding: 0rem 1rem 0rem 1rem;
                                color: #737373;
                                font-weight: 400;
                                font-size: 0.875rem;
                                font-family: 'Inter', sans-serif !important;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                &::placeholder {
                                    color: #737373;
                                    font-weight: 400;
                                    font-size: 0.875rem;
                                    font-family: 'Inter', sans-serif !important;
                                }
                            }
                        }

                        &:first-of-type {
                            label {
                                width: 48.5%;
                            }       
                        }
                    }

                    button {
                        width: 100%;
                        height: 2.375rem;
                        border-radius: 1rem;
                        background-color: #B700B7;
                        border: 1px solid #B700B7;
                        padding: 1.188rem 1rem 1.188rem 1rem;
                        color: #FFFFFF;
                        font-weight: 700;
                        font-size: 0.875rem;
                        font-family: 'Inter', sans-serif !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.descritivo-container {
    width: 100%;
    height: 35.875rem;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    .descritivo-content {
        display: flex;
        align-items: stretch;
        justify-content: center;

        .descritivo-texto-box {
            width: 55%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h3 {
                font-size: 2.3rem;
                line-height: 2.8rem;
                font-weight: 600;
                color: #6B0B68;
                text-align: left;
                margin-bottom: 0.4rem;
                font-family: 'Parkson', sans-serif;
                text-transform: uppercase;
                padding: 0px;
            }

            h4 {
                font-size: 3rem;
                line-height: 3.5rem;
                font-weight: 600;
                color: #8870FF;
                text-align: left;
                margin-bottom: 1.875rem;
                font-family: 'Parkson', sans-serif;
                text-transform: uppercase;
                padding: 0px;
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 400;
                color: #000000;
                text-align: left;
                font-family: 'Inter', sans-serif !important;
                padding: 0px;
            }
        }

        .descritivo-img-box {
            width: 45%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                height: 28.938rem;
                width: auto;
                margin-right: 0.938rem;
            }
        }
    }
}

.formatos-titulo-container {
    width: 100%;
    height: auto;
    background-color: #8C008C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    .formatos-titulo-overlay {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.6rem 0px 1.6rem 0px;

        .formato-titulo-content {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .formato-titulo {
                width: 100%;
                height: auto;
                padding: 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                h3 {
                    color: #FFFFFF;
                    font-size: 4rem;
                    font-weight: 700;
                    text-align: left;
                    font-family: 'Parkson', sans-serif;
                    text-transform: uppercase;
                    padding: 0px;
                }
    
                hr {
                    width: 80%;
                    border: none;
                    background-color: #FFFFFF;
                    margin: 0px;
                }
            }
    
            .formato-subtitulo {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0px;
    
                p {
                    color: #FFFFFF;
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                    font-weight: 700;
                    text-align: left;
                    font-family: 'Inter', sans-serif !important;
                    padding: 0px;
                }
            }
        }
    }
}