@media (max-width: 1172px) {
    .container {
        max-width: 100% !important;
    }

    .footer-content {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        flex-direction: column;
        padding: 3rem 1.5rem 0px 1.5rem !important;

        .footer-box-1 {
            width: auto !important;
            margin-bottom: 2rem !important;
            order: 1;
        }

        .footer-box-2 {
            width: auto !important;
            margin-bottom: 2rem !important;
            order: 3;
        }

        .footer-box-3 {
            width: auto !important;
            margin-bottom: 2rem !important;
            order: 4;
        }

        .footer-box-4 {
            width: auto !important;
            height: 9.313rem !important;
            margin-bottom: 2rem !important;
            order: 5;
        }

        .footer-box-5 {
            width: auto !important;
            margin-bottom: 2rem !important;
            order: 2;
        }
    }

    .footer-bottom-content {
        flex-direction: column;
        justify-content: center !important;
        align-items: flex-start !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;

        p {
            margin-bottom: 2rem !important;
        }
    }
}

@media (max-width: 991px) {
    .header-container {
        background: #0B131F !important;
        position: relative;

        .header-content-top {
            border-bottom: none !important;
        }

        .header-content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2.25rem !important;
            padding-bottom: 2.25rem !important;    
            
            #hamburger-box  {
                width: auto;
                height: auto;
                position: absolute;
                left: 0.625rem;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1000;
              }
              
              .logo  {
                width: auto;
                height: 2.4rem;
              }

              .polylang-languages {
                top: 2.4rem !important;
              }
        }

        .header-menu-content {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #0B131F !important;
            padding: 0px !important;
            z-index: 1000;
            transition: 0.5s ease all;
            max-height: 0px;
            opacity: 0;
            height: auto;
            overflow: hidden;

            &.menu-aberto {
                max-height: 500px;
                opacity: 1;
                transition: 0.5s ease all;
            }

            .menu {
                flex-direction: column;
                padding: 2rem 1.2rem !important;

                .menu-item {
                    padding: 0.7rem 0px !important;
                }
            }
        }

        .breadcrumbs-content {
            padding: 0.8rem 0.65rem;
            position: absolute;
            top: 110%;
            left: 0rem;
            max-width: 100%;
            overflow: hidden;

            span {
                white-space: nowrap;
            }
        }
    }
  
}

@media (max-width: 842px) {

    .banner-principal {
        height: auto !important;
        max-height: none !important;
        background-size: 395%;

        .banner-overlay {
            background: linear-gradient(0deg, rgb(183 0 183) 0%, rgb(183 0 183) 31%, rgb(183 0 183 / 0%) 68%, rgb(183 0 183 / 0%)) !important;
        }

        .banner-content {
            flex-direction: column;
            justify-content: flex-start !important;
            align-items: center !important;
            padding-bottom: 4rem !important;
            padding-top: 14rem !important;
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;

            .banner-box {
                width: auto !important;
                height: auto !important;

                p {
                    font-weight: 400 !important;
                }
            }
            
            .form-content {
                position: unset !important;
                margin-top: 1rem !important;
                width: auto !important;
            }
        }
    }
}

@media (max-width: 425px) {
    .banner-box { 
        img {
            height: 4.063rem !important;
            width: auto;
            margin-bottom: 1rem !important;
        }
    }

    .form-content {
        button {
            width: 17rem !important;
            border-radius: 1.5rem !important;
        }
    }
}

@media (max-width: 375px) {
    .btn-banner {
        width: 100% !important;
    }
}